$background: #000746;
$foreground: #06F3EB;

* {
  all: unset;
} 

.bar {
  background: $background;
  color: $foreground;
  border-radius: 5px;
  font-family: 'SAO UI';
  font-size: 20px;
}

.bar-content {
  padding-left: 10px;
  padding-right: 10px;
}

.sidestuff > * {
  margin-right: 10px;
}

.sidestuff > *:last-child {
  margin-right: 0px;
}

